@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  @apply min-h-full;
}

body {
  @apply text-white
}

::selection {
  background-color: black;
  color: rgb(216 180 254 / 1);
}

.stroke-text {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
}