@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  @apply min-h-full;
}

* {
  cursor: none;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

.stroke-text {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
}